# Default ignored files
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Gradle
.gradle/
build/
**/build/

# IntelliJ / IDEA
.idea/
*.iml
out/

# Kotlin/Java
*.class
*.jar
*.war
*.ear

# VS Code
.vscode/

# MacOS
.DS_Store

# all generated things
**/generated/
